@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap");
.btn {
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn.btn-slide {
  color: transparent;
  position: relative;
  overflow: hidden;
}
.btn.btn-slide::before {
  content: "Start a Project";
  color: #00004B;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn.btn-slide::after {
  content: "Start a Project";
  color: #00004B;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn.btn-slide:hover::before {
  top: -50%;
}
.btn.btn-slide:hover::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.btn.btn-slide span {
  color: #00004B;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 32px;
  text-align: center;
  border: 2px solid #00004B;
  border-radius: 50%;
  margin-left: 10px;
}
.btn.btn-slide:hover span {
  border: 0px solid transparent;
  background: #00004B;
}
.btn.btn-primary {
  font-size: 14px;
  line-height: 32px;
  background: #017AFF;
  border: 1px solid #017AFF;
  color: #fff;
  padding: 10px 29px;
  border-radius: 50px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn.btn-primary span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn.btn-primary svg {
  color: #fff;
  margin-left: 5px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.btn.btn-primary:hover span {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
.btn.btn-primary:hover svg {
  opacity: 1;
  width: 15px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
.btn.btn-outline {
  font-size: 14px;
  line-height: 32px;
  background: transparent;
  border: 1px solid #017AFF;
  color: #017AFF;
  padding: 10px 29px;
  border-radius: 50px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 16px;
}
.btn.btn-outline span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn.btn-outline svg {
  width: 0;
  margin-left: 5px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn.btn-outline:hover span {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
.btn.btn-outline:hover svg {
  opacity: 1;
  width: 15px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

@media screen and (max-width: 600px) {
  .btn.btn-primary,
.btn.btn-outline {
    display: block;
  }
  .btn.btn-outline {
    margin-top: 10px;
    margin-left: 0;
  }
}
header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navigation .logo {
  width: 135px;
  height: 35px;
}
header .navigation .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navigation .navbar {
  list-style: none;
  padding: 30px 0;
}
header .navigation .navbar a {
  font-size: 18px;
  font-weight: 700;
  padding: 0 28px;
  color: #1A1A1A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .navigation .navbar a:hover {
  color: #017AFF;
}
header .navigation .navbar li:last-of-type a {
  padding-right: 0;
}
header .navigation .navbar li:last-of-type a:hover {
  color: inherit;
}

@media screen and (max-width: 600px) {
  header.container {
    padding-top: 30px;
    padding: 0 30px;
  }
  .navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .navigation .navbar {
    display: inline-block;
  }
  header .navigation .navbar .nav-item {
    display: none;
  }
}
.nav-tabs.vertical-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 0px solid transparent;
  position: relative;
  z-index: 1;
}
.nav-tabs .nav-link {
  font-size: 38px;
  font-weight: 800;
  color: #00004B;
  opacity: 0.25;
  margin-bottom: 30px;
  line-height: 52px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-tabs .nav-link:hover {
  opacity: 1;
  border-color: transparent;
}
.nav-tabs .nav-link.active {
  color: #00004B;
  opacity: 1;
  font-size: 44px;
  border-color: transparent;
  background: transparent;
}

.vertical-tab-content .tab-pane.fade {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}
.vertical-tab-content .tab-pane.fade.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 1024px) {
  .nav-tabs .nav-link {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .nav-tabs .nav-link {
    font-size: 25px;
    line-height: 0;
    padding: 0 !important;
    margin: 35px 0;
  }
  .nav-tabs .nav-link.active {
    font-size: 30px;
  }
}
.title {
  overflow-y: hidden;
  text-align: center;
  margin-bottom: 86px;
}
.title h3 {
  font-size: 16px;
  font-weight: 500;
  color: #00004B;
  line-height: 22px;
}
.title h2 {
  font-size: 44px;
  font-weight: 800;
  line-height: 60px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .title {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 650px) {
  .title {
    margin-bottom: 30px;
  }
  .title h2 {
    font-size: 22px;
    line-height: 50px;
  }
}
.banner {
  margin-bottom: 30px;
  position: relative;
}
.banner.container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.banner .background img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 50%;
  z-index: -1;
}
.banner .background img.top-cube {
  opacity: 0;
  top: 40%;
  left: 55%;
  -webkit-animation: fadeDown 1.5s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
          animation: fadeDown 1.5s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    top: 25%;
    left: 60%;
  }
  100% {
    opacity: 1;
    top: 40%;
    left: 55%;
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    top: 25%;
    left: 60%;
  }
  100% {
    opacity: 1;
    top: 40%;
    left: 55%;
  }
}
.banner .background img.bottom-cube {
  opacity: 0;
  top: 63%;
  left: 46%;
  -webkit-animation: fadeUp 1.5s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
          animation: fadeUp 1.5s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    top: 75%;
    left: 40%;
  }
  100% {
    opacity: 1;
    top: 63%;
    left: 46%;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    top: 75%;
    left: 40%;
  }
  100% {
    opacity: 1;
    top: 63%;
    left: 46%;
  }
}
.banner .banner-title {
  font-size: 64px;
  font-weight: 800;
  color: #000;
}
.banner .banner-title p {
  line-height: 1.2;
}
.banner .banner-title .text-wrapper {
  display: inline-block;
  overflow: hidden;
}
.banner .banner-title .letter {
  opacity: 0;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  display: inline-block;
  letter-spacing: -1px;
  line-height: 1;
}
.banner .banner-title .ml8 .letter:nth-last-child(-n+4) {
  color: #017AFF;
}
.banner .banner-title .primary {
  color: #017AFF;
}
.banner .banner-desc {
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 18px;
  color: #4D4D4D;
}

.slider-wrapper {
  margin-bottom: 80px;
}
.slider-wrapper .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 419px;
  margin: auto 25px;
  -webkit-transition: margin 0.4s ease;
  transition: margin 0.4s ease;
}
.slider-wrapper .item img {
  height: auto;
}
.slider-wrapper .start-project-button {
  margin-top: 60px;
}

.services {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}
.services .nav-tabs li:last-child button {
  margin-bottom: 0;
}
.services .web-design-tab {
  position: relative;
}
.services .web-design-tab .background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.services .web-design-tab .background img {
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .web-design-tab .background img.big-circle-bg {
  top: -105px;
  right: 10px;
  width: 300px;
  height: 300px;
}
.services .web-design-tab .background img.small-circle-bg {
  bottom: 80px;
  right: 525px;
  width: 182px;
  height: 182px;
}
.services .web-design-tab .background img.shadow-bg {
  width: 90vw;
  height: 1000px;
  right: -30%;
  top: -190px;
  border-radius: 50%;
}
.services .web-design-tab .img-box {
  max-width: 590px;
  height: 452px;
  margin-right: auto;
}
.services .web-design-tab .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.services .web-design-tab p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}
.services .branding-tab {
  position: relative;
}
.services .branding-tab .background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.services .branding-tab .background img {
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .branding-tab .background img.big-circle-bg {
  top: 105px;
  right: -30px;
  width: 300px;
  height: 300px;
}
.services .branding-tab .background img.small-circle-bg {
  top: -83px;
  right: 560px;
  width: 182px;
  height: 182px;
}
.services .branding-tab .background img.shadow-bg {
  width: 90vw;
  height: 1000px;
  right: -30%;
  top: -190px;
  border-radius: 50%;
}
.services .branding-tab .img-box {
  max-width: 550px;
  height: 320px;
  margin: 30px auto 0;
}
.services .branding-tab .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}
.services .branding-tab p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}
.services .ecommerce-tab {
  position: relative;
}
.services .ecommerce-tab .background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.services .ecommerce-tab .background img {
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .ecommerce-tab .background img.big-circle-bg {
  top: -135px;
  right: -10px;
  width: 300px;
  height: 300px;
}
.services .ecommerce-tab .background img.small-circle-bg {
  bottom: 94px;
  right: 525px;
  width: 182px;
  height: 182px;
}
.services .ecommerce-tab .background img.shadow-bg {
  width: 90vw;
  height: 1000px;
  right: -30%;
  top: -190px;
  border-radius: 50%;
}
.services .ecommerce-tab .img-box {
  max-width: 590px;
  height: 452px;
  margin-right: auto;
}
.services .ecommerce-tab .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.services .ecommerce-tab p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}
.services .digital-marketing-tab .background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.services .digital-marketing-tab .background img {
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .digital-marketing-tab .background img.big-circle-bg {
  top: 105px;
  right: -30px;
  width: 300px;
  height: 300px;
}
.services .digital-marketing-tab .background img.small-circle-bg {
  top: -83px;
  right: 560px;
  width: 182px;
  height: 182px;
}
.services .digital-marketing-tab .background img.shadow-bg {
  width: 90vw;
  height: 1000px;
  right: -30%;
  top: -190px;
  border-radius: 50%;
}
.services .digital-marketing-tab .img-box {
  max-width: 550px;
  height: 320px;
  margin: 30px auto 0;
}
.services .digital-marketing-tab .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}
.services .digital-marketing-tab p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.projects {
  position: relative;
}
.projects.container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.projects .background {
  width: 100%;
  height: 100%;
}
.projects .background img {
  position: absolute;
  right: 0;
  z-index: -1;
}
.projects .background img.square-bg:nth-of-type(1) {
  top: 160px;
  left: 0px;
  width: 281px;
  height: 281px;
}
.projects .background img.square-bg:nth-of-type(2) {
  top: 880px;
  right: 0;
}
.projects .project {
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .project .img-box {
  max-width: 362px;
  max-height: 362px;
  text-align: right;
  margin: 0 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}
.projects .project .img-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .project .project-description {
  margin: 0 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
}
.projects .project .project-description h4 {
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  color: #017AFF;
  margin-bottom: 13px;
}
.projects .project .project-description h2 {
  font-size: 54px;
  font-weight: 800;
  line-height: 73px;
  margin-bottom: 13px;
  color: #000;
}
.projects .project .project-description p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #808080;
}
.projects .project:nth-child(even) .img-box {
  text-align: left;
  margin-left: 50px;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.projects .project:nth-child(even) .project-description {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  padding-right: 30px;
}
.projects .project:hover .img-box {
  max-width: 421px;
  max-height: 421px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.projects .project:hover .project-description {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}
.projects .project:not(:first-child):hover .img-box {
  max-width: 421px;
  max-height: 421px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.client-reviews {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../../assets/background/client-review-bg.png);
  background-size: cover;
  background-position: center;
}
.client-reviews .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 994px;
  border-radius: 20px;
  background: #fff;
  border: 1px solid #CCE4FF;
  -webkit-box-shadow: 0px 15px 20px rgba(1, 122, 255, 0.03);
          box-shadow: 0px 15px 20px rgba(1, 122, 255, 0.03);
  padding: 63px 110px;
  margin: auto;
}
.client-reviews .item .img-box {
  max-width: 180px;
  margin-right: 30px;
}
.client-reviews .item .img-box img {
  width: 170px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.client-reviews .item .review-description {
  margin-left: 30px;
}
.client-reviews .item .review-description h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #000C19;
  margin-bottom: 25px;
}
.client-reviews .item .review-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #808080;
}
.client-reviews .item .review-description .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.client-reviews .item .review-description .profile .img-box {
  height: 62px;
  width: 62px;
  margin-right: 18px;
  border-radius: 50%;
  overflow: hidden;
}
.client-reviews .item .review-description .profile .img-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.client-reviews .item .review-description .profile .info p:nth-of-type(1) {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000C19;
}
.client-reviews .item .review-description .profile .info p:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #808080;
  margin-top: 5px;
}
.client-reviews .owl-carousel .owl-nav button.owl-prev,
.client-reviews .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 35px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 2px 3px 3px rgba(16, 128, 255, 0.05);
          box-shadow: 0 2px 3px 3px rgba(16, 128, 255, 0.05);
  color: #017AFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.client-reviews .owl-carousel .owl-nav button.owl-prev:hover,
.client-reviews .owl-carousel .owl-nav button.owl-next:hover {
  background: #017AFF;
  color: #fff;
}
.client-reviews .owl-carousel .owl-nav .owl-prev {
  left: 0;
}
.client-reviews .owl-carousel .owl-nav .owl-next {
  right: 0;
}
.client-reviews .owl-carousel .owl-dots {
  counter-reset: pagination;
  text-align: center;
  margin-top: 50px;
}
.client-reviews .owl-carousel .owl-dots .owl-dot {
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.client-reviews .owl-carousel .owl-dots .owl-dot:before {
  counter-increment: pagination;
  content: "0" counter(pagination);
  color: #808080;
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
}
.client-reviews .owl-carousel .owl-dots .owl-dot.active {
  background: transparent !important;
  margin-right: 65px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.client-reviews .owl-carousel .owl-dots .owl-dot.active:before {
  color: #000C19;
}
.client-reviews .owl-carousel .owl-dots .owl-dot.active:after {
  content: "";
  width: 48px;
  height: 3px;
  background: #000C19;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: -50px;
}
.client-reviews .owl-carousel .owl-dots .owl-dot:last-child.active:after {
  display: none;
}

.cta {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.cta .background img {
  position: absolute;
  left: 0;
  top: 70%;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  z-index: -1;
  -webkit-animation: backgroundRotate 5s ease-in-out infinite;
          animation: backgroundRotate 5s ease-in-out infinite;
}
@-webkit-keyframes backgroundRotate {
  25% {
    -webkit-transform: translateY(-50%) rotate(0deg) scale(1);
            transform: translateY(-50%) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(0.75);
            transform: translateY(-50%) rotate(-45deg) scale(0.75);
  }
  53% {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(0.75);
            transform: translateY(-50%) rotate(-45deg) scale(0.75);
  }
  75% {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1.15);
            transform: translateY(-50%) rotate(-45deg) scale(1.15);
  }
  83% {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1.15);
            transform: translateY(-50%) rotate(-45deg) scale(1.15);
  }
}
@keyframes backgroundRotate {
  25% {
    -webkit-transform: translateY(-50%) rotate(0deg) scale(1);
            transform: translateY(-50%) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(0.75);
            transform: translateY(-50%) rotate(-45deg) scale(0.75);
  }
  53% {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(0.75);
            transform: translateY(-50%) rotate(-45deg) scale(0.75);
  }
  75% {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1.15);
            transform: translateY(-50%) rotate(-45deg) scale(1.15);
  }
  83% {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1.15);
            transform: translateY(-50%) rotate(-45deg) scale(1.15);
  }
}
.cta .img-box {
  height: 130px;
  width: 130px;
  margin-left: auto;
  margin-right: 30px;
}
.cta .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cta .cta-description h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #013D80;
  margin-left: 32px;
  margin-bottom: 15px;
  position: relative;
}
.cta .cta-description h4:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -32px;
  height: 2px;
  width: 22px;
  background: #013D80;
  border-radius: 30px;
}
.cta .cta-description h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  color: #000C19;
  margin-bottom: 25px;
}

footer {
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 45px;
  padding-bottom: 45px;
}
footer .img-box {
  width: 135px;
  height: 35px;
}
footer .img-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
footer .footer-menu li {
  list-style: none;
}
footer .footer-menu li a {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  line-height: 30px;
  padding: 0 20px;
}
footer .footer-menu li a.active {
  font-size: 16px;
  font-weight: 700;
  color: #00004B;
  line-height: 24px;
  border-right: 1px solid #ccc;
}
footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .social-icons a {
  margin-right: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
footer .social-icons a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
footer .social-icons a:hover svg path {
  fill: #017AFF;
}
footer .copy-right {
  margin-top: 30px;
}
footer .copy-right p {
  font-size: 12px;
  font-weight: 300;
  line-height: 30px;
  color: #808080;
  padding-top: 10px;
  border-top: 1px solid #F2F2F2;
}

@media screen and (max-width: 1024px) {
  .client-reviews .owl-carousel .owl-nav .owl-prev {
    left: -60px;
  }
  .client-reviews .owl-carousel .owl-nav .owl-next {
    right: -60px;
  }
}
@media screen and (max-width: 992px) {
  .services,
.client-reviews {
    padding: 50px 0;
  }
  .services .tab-content {
    margin-top: 40px;
  }
  .projects.container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .projects .project .img-box {
    text-align: left;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    margin: 0 0 20px 0;
  }
  .projects .project:nth-child(3) .img-box,
.projects .project:nth-child(even) .img-box {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    margin: 0 0 20px 0;
  }
  .projects .project .project-description {
    opacity: 1;
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
    margin: 0 0 20px 10px;
  }
  .projects .project .project-description h2 {
    font-size: 35px;
    line-height: 42px;
  }
  .client-reviews .item {
    padding: 60px;
  }
  .client-reviews .owl-carousel .owl-nav {
    display: none;
  }
  footer .footer-menu {
    margin-top: 20px;
  }
}
@media screen and (max-width: 650px) {
  .banner .background {
    display: none;
  }
  .banner .banner-title {
    font-size: 35px;
    line-height: 1.2;
  }
  .banner .banner-title .ml8 {
    white-space: nowrap;
  }
  .banner .banner-title .letter {
    opacity: 1;
  }
  .services.container,
.projects.container,
.client-reviews.container,
.cta.container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .services .background,
.projects .background {
    display: none;
  }
  .services .tab-content .img-box {
    height: auto;
  }
  .projects .project:last-child {
    margin-bottom: 0;
  }
  .projects .project .project-description h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .client-reviews .owl-carousel .owl-item {
    height: auto;
  }
  .client-reviews .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .client-reviews .item .img-box {
    margin-bottom: 20px;
  }
  .client-reviews .item .review-description {
    margin: 0;
  }
  .cta .background img {
    display: none;
  }
  .cta .img-box {
    margin: 0 0 20px 0;
  }
  footer .social-icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 20px;
  }
  footer .footer-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  footer .footer-menu li {
    width: 50%;
  }
  footer .footer-menu li a {
    padding-left: 0;
    display: inline-block;
    padding-bottom: 10px;
  }
  footer .footer-menu li a.active {
    border: none;
  }
}
@media screen and (max-width: 400px) {
  .nav-tabs {
    margin-bottom: 30px;
  }
  .projects .project .img-box {
    height: 300px;
    width: auto;
  }
  .projects .project .img-box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.contact {
  position: relative;
  padding: 100px 0;
  color: #333333;
}
.contact .background {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}
.contact h1 {
  max-width: 573px;
  font-size: 48px;
  font-weight: 800;
  line-height: 66px;
  margin-bottom: 50px;
}
.contact form {
  max-width: 778px;
}
.contact form label {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333;
}
.contact form input {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  height: 50px;
  margin-bottom: 30px;
  background: #f7f7f7;
  border: none;
}
.contact form input:focus {
  background: #f7f7f7;
  outline: none;
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}
.contact form input::-webkit-input-placeholder {
  color: #A2A4A6;
}
.contact form input::-moz-placeholder {
  color: #A2A4A6;
}
.contact form input:-ms-input-placeholder {
  color: #A2A4A6;
}
.contact form input::-ms-input-placeholder {
  color: #A2A4A6;
}
.contact form input::placeholder {
  color: #A2A4A6;
}
.contact form textarea {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 30px;
  background: #f7f7f7;
  resize: none;
  border: none;
}
.contact form textarea:focus {
  background: #f7f7f7;
  outline: none;
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}
.contact form textarea::-webkit-input-placeholder {
  color: #A2A4A6;
}
.contact form textarea::-moz-placeholder {
  color: #A2A4A6;
}
.contact form textarea:-ms-input-placeholder {
  color: #A2A4A6;
}
.contact form textarea::-ms-input-placeholder {
  color: #A2A4A6;
}
.contact form textarea::placeholder {
  color: #A2A4A6;
}
.contact form .btn {
  max-width: 183px;
  margin: 0 12px;
}

@media screen and (max-width: 992px) {
  .contact .background {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .contact h1 {
    font-size: 30px;
    line-height: 42px;
  }
}
.thankyou {
  max-width: 700px;
  margin: auto;
  padding: 60px 100px;
  text-align: center;
}
.thankyou h1 {
  font-weight: 900;
}
.thankyou p {
  font-size: 16px;
  margin-top: 20px;
  color: #808080;
}
.thankyou .btn {
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .thankyou {
    padding: 60px 10px;
  }
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  font-family: Manrope, sans-serif;
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 40px;
}/*# sourceMappingURL=style.css.map */