@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

// Primary Colors 
$darker-primary-blue: #000C19;
$dark-primary-blue: #00004B;
$primary-blue: #013D80;
$light-primary-blue: #017AFF;

// Dark Colors 
$dark: #000;
$text-dark: #333333;

// Grey Colors 
$dark-grey: #1A1A1A;
$grey: #4D4D4D;
$light-grey: #808080;
$light: #fff;


$default-font: Manrope, sans-serif;