@charset "UTF-8";

@import 'abstracts/variable';

@import 'components/button';
@import 'components/header';
@import 'components/tabs';
@import 'components/title';

@import 'pages/homepage';

// Global Style 
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: $default-font;
    font-size: 18px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 40px;
}