.btn {
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
    transition: all .3s;
    &.btn-slide {
        color: transparent;
        position: relative;
        overflow: hidden;
        &::before {
            content: 'Start a Project';
            color: $dark-primary-blue;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            transition: all .3s;
        }
        &::after {
            content: 'Start a Project';
            color: $dark-primary-blue;
            position: absolute;
            top: 100%;
            left: 0;
            transition: all .3s;
        }
        &:hover {
            &::before {
                top: -50%;
            }
            &::after{
                top: 50%;
                transform: translateY(-50%);
            }
        }
        
        span {
            color: $dark-primary-blue;
            display: inline-block;
            height: 40px;
            width: 40px;
            line-height: 32px;
            text-align: center;
            border: 2px solid $dark-primary-blue;
            border-radius: 50%;
            margin-left: 10px;
        }
        &:hover {
            span {
                border: 0px solid transparent;
                background: $dark-primary-blue;
            }
        }
    }   
    &.btn-primary {
        font-size: 14px;
        line-height: 32px;
        background: $light-primary-blue;
        color: $light;
        padding: 10px 29px;
        border-radius: 50px;
        text-align: center;
        transition: all .3s;
        span {
            display: inline-block;
            transition: all .3s;
        }
        svg {
            color: $light;
            margin-left: 5px;
            opacity: 0;
            width: 0;
            transition: all .3s;
        }
        &:hover {
            span {
                transform: translateX(-5px);
            }
            svg {
                opacity: 1;
                width: auto;
            }
        }
    }
}
