.nav-tabs {
    &.vertical-tab {
        display: flex;
        flex-direction: column;
        border-bottom: 0px solid transparent;
        position: relative;
        z-index: 1;
    }
    .nav-link{
        font-size: 38px;
        font-weight: 800;
        color: $dark-primary-blue;
        opacity: 0.25;
        margin-bottom: 30px;
        line-height: 52px;
        transition: all .3s;
        &:hover {
            opacity: 1;
            border-color: transparent;
        }
        &.active {
            color: $dark-primary-blue;
            opacity: 1;
            font-size: 44px;
            line-height: 60px;
            border-color: transparent;
        }
    } 
}

.vertical-tab-content {
    .tab-pane.fade {
      transition: all 0.2s;
      transform: translateX(-1rem);
    }
    
    .tab-pane.fade.show {
      transform: translateX(0);
    }
}