// Banner Section 
.banner {
    // background: url('../../assets/background/cubes.png');
    // background-size: contain;
    // background-position: center center;
    // background-repeat: no-repeat;
    margin-bottom: 30px;
    position: relative;
    &.container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .background {
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 50%;
            z-index: -1;
            &.top-cube {
                top: 40%;
                left: 55%;
                animation: fadeDown 1s ease-in-out forwards;
            }
            @keyframes fadeDown {
                0% {
                    top: 25%;
                    left: 60%;
                }
                100% {
                    top: 40%;
                    left: 55%;
                }
            }
            &.bottom-cube {
                top: 63%;
                left: 46%;
                animation: fadeUp 1s ease-in-out forwards;
            }
            @keyframes fadeUp {
                0% {
                    top: 75%;
                    left: 40%;
                }
                100% {
                    top: 63%;
                    left: 46%;
                }
            }
        }
    }
    .banner-title {
        font-size: 64px;
        font-weight: 800;
        line-height: 90px;
        color: $dark;
        .primary {
            color: $light-primary-blue;
        }
    }
    .banner-desc {
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 18px;
        color: $grey;
    }
}
// Slider 
.slider-wrapper {
    margin-bottom: 80px;
    .item {
        display: flex;
        align-items: center;
        height: 419px;
        margin: auto 25px;
        transition: margin 0.4s ease;
        img {
            height: auto;
        }
    }
    .start-project-button {
        margin-top: 60px;
    }
}
// Services 
.services {
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
    .web-design-tab {
        position: relative;
        .background {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                position: absolute;
                right: 0;
                z-index: -1;
                &.big-circle-bg {
                    top: -105px;
                    right: 10px;
                    width: 300px;
                    height: 300px;
                }
                &.small-circle-bg {
                    bottom: 80px;
                    right: 525px;
                    width: 182px;
                    height: 182px;
                }
                &.shadow-bg {
                    width: 90vw;
                    height: 1000px;
                    right: -30%;
                    top: -190px;
                    border-radius: 50%;
                }
            }
        }
        .img-box {
            max-width: 590px;
            height: 452px;
            margin-right: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color: $text-dark;
        }
    }
    .branding-tab {
        position: relative;
        .background {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                position: absolute;
                right: 0;
                z-index: -1;
                &.big-circle-bg {
                    bottom: 70px;
                    right: -30px;
                    width: 300px;
                    height: 300px;
                }
                &.small-circle-bg {
                    top: -83px;
                    right: 560px;
                    width: 182px;
                    height: 182px;
                }
                &.shadow-bg {
                    width: 90vw;
                    height: 1000px;
                    right: -30%;
                    top: -190px;
                    border-radius: 50%;
                }
            }
        }
        .img-box {
            max-width: 550px;
            height: 320px;
            margin: 0 auto 100px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: top;
            }
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color: $text-dark;
        }
    }
    .ecommerce-tab {
        position: relative;
        .background {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                position: absolute;
                right: 0;
                z-index: -1;
                &.big-circle-bg {
                    top: -135px;
                    right: -10px;
                    width: 300px;
                    height: 300px;
                }
                &.small-circle-bg {
                    bottom: 94px;
                    right: 525px;
                    width: 182px;
                    height: 182px;
                }
                &.shadow-bg {
                    width: 90vw;
                    height: 1000px;
                    right: -30%;
                    top: -190px;
                    border-radius: 50%;
                }
            }
        }
        .img-box {
            max-width: 590px;
            height: 452px;
            margin-right: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color: $text-dark;
        }
    }
}

.projects {
    position: relative;
    &.container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .background {
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            right: 0;
            z-index: -1;
            &.square-bg:nth-of-type(1) {
                top: 160px;
                left: 0px;
                width: 281px;
                height: 281px;
            }
            &.square-bg:nth-of-type(2) {
                top: 880px;
                right: 0;
            }
        }
    }
    .project {
        margin-bottom: 40px;
        align-items: center;
        .img-box {
            max-width: 362px;
            max-height: 362px;
            text-align: right;
            margin: 0 30px;
            transition: all .5s;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .project-description {
            margin: 0 30px;
            transition: all .5s;
            transform: translateX(-100px);
            opacity: 0;
            h4 {
                font-size: 20px;
                font-weight: 800;
                line-height: 27px;
                color: $light-primary-blue;
                margin-bottom: 13px;
            }
            h2 {
                font-size: 54px;
                font-weight: 800;
                line-height: 73px;
                margin-bottom: 13px;
                color: $dark;
            }
            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                color: $light-grey;
            }
        }
        &:nth-child(even) {
            .img-box {
                text-align: left;
                margin-left: 50px;
            }
            .project-description {
                transform: translateX(100px);
                padding-right: 30px;
            }
        }
        &:hover {
            .img-box {
                max-width: 421px;
                max-height: 421px;
                transform: rotate(-3deg);
            }
            .project-description {
                transform: translateX(0px);
                opacity: 1;
            }
        }
        &:not(:first-child) {
            &:hover {
                .img-box {
                    width: 421px;
                    height: 421px;
                    transform: rotate(3deg);
                }
            }
        }
    }
}

.client-reviews {
    padding-top: 80px;
    padding-bottom: 80px;
    background: url(../../assets/background/client-review-bg.png);
    background-size: cover;
    background-position: center;
    .item {
        display: flex;
        align-items: center;
        max-width: 994px;
        border-radius: 20px;
        background: $light;
        border: 1px solid #CCE4FF;
        box-shadow: 0px 15px 20px rgba(1, 122, 255, 0.03);
        padding: 75px 110px;
        margin: auto;
        .img-box {
            max-width: 170px;
            margin-right: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .review-description {
            margin-left: 30px;
            h4 {
                font-size: 22px;
                font-weight: 700;
                line-height: 28px;
                color: $darker-primary-blue;
                margin-bottom: 25px;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: $light-grey;
            }
            .profile {
                display: flex;
                align-items: center;
                margin-top: 25px;
                .img-box {
                    height: 62px;
                    width: 62px;
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .info {
                    p:nth-of-type(1) {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 20px;
                        color: $darker-primary-blue;
                    }
                    p:nth-of-type(2) {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        color: $light-grey;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 35px;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        background: $light;
        box-shadow: 0 2px 3px 3px rgba(16, 128, 255, 0.05);
        color: $light-primary-blue;
        transition: all .3s;
    }
    .owl-carousel .owl-nav button.owl-prev:hover,
    .owl-carousel .owl-nav button.owl-next:hover {
        background: $light-primary-blue;
        color: $light;
    }

    .owl-carousel {
        .owl-nav {
            .owl-prev {
                left: 0;
            }
            .owl-next {
                right: 0;
            }
        }
        .owl-dots {
            counter-reset: pagination;
            text-align: center;
            margin-top: 50px;
            .owl-dot {
                width: 30px;
                height: 30px;
                position: relative;
                margin-right: 20px;
                &:before {
                    counter-increment: pagination;
                    content: '0'counter(pagination);
                    color: $light-grey;
                    font-size: 18px;
                    font-weight: 800;
                    line-height: 25px;
                }
                &.active {
                    background: transparent !important;
                    margin-right: 65px;
                    transition: all .3s;
                    &:before {
                        color: $darker-primary-blue;
                    }
                    &:after {
                        content: '';
                        width: 48px;
                        height: 3px;
                        background: $darker-primary-blue;
                        border-radius: 5px;
                        position: absolute;
                        top: 50%;
                        right: -50px;
                    }
                }
            }
        }
    }
}
.cta {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    .background {
        img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%) scale(1);
            z-index: -1;
            animation: backgroundRotate 5s ease-in-out infinite;
        }
        @keyframes backgroundRotate {
            25% {
                transform: translateY(-50%) rotate(0deg) scale(1);
            }
            50% {
                transform: translateY(-50%) rotate(-45deg) scale(0.85);
            }
            75% {
                transform: translateY(-50%) rotate(-45deg) scale(1.15);
            }
            100% {
                transform: translateY(-50%) rotate(0deg) scale(1);
            }
        }
    }
    .img-box {
        height: 130px;
        width: 130px;
        margin-left: auto;
        margin-right: 30px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .cta-description {
        h4 {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            color: $primary-blue;
            margin-left: 32px;
            margin-bottom: 15px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -32px;
                height: 2px;
                width: 22px;
                background: $primary-blue;
                border-radius: 30px;
            }
        }
        h2 {
            font-size: 32px;
            font-weight: 700;
            line-height: 42px;
            color: $darker-primary-blue;
            margin-bottom: 25px;
        }
    }
}

footer {
    background: $light;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 80px;
    padding-bottom: 80px;
    .img-box {
        width: 135px;
        height: 35px;
        margin-bottom: 40px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    h4 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: $darker-primary-blue;
        margin-bottom: 10px;
    }
    li,
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: $light-grey;
    }

    .social-icons {
        margin-top: 40px;
        display: flex;
        align-items: center;
        a {
            margin-right: 30px;
            transition: all .3s;
            &:hover {
                transform: scale(1.15);
                svg path {
                    fill: $light-primary-blue;
                }
            }
        }
    }
    
    .footer-menu {
        margin-left: 20px;
        h4 {
            margin-bottom: 15px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 10px;
                a {
                    color: inherit;
                    transition: all .3s;
                    &:hover {
                        color: $light-primary-blue;
                    }
                }
            }
        }
    }
    .copy-right {
        margin-top: 30px;
        p {
            font-size: 12px;
            font-weight: 300;
            line-height: 30px;
            color: $light-grey;
            padding-top: 10px;
            border-top: 1px solid #F2F2F2;
        }
    }
}

@media screen and (max-width: 1024px) {
    .nav-tabs .nav-link {
        font-size: 30px;
    }
    .client-reviews .owl-carousel .owl-nav .owl-prev {
        left: -60px;
    }
            
    .client-reviews .owl-carousel .owl-nav .owl-next {
        right: -60px;
    }
}

@media screen and (max-width: 992px) {
    .projects .project .img-box {
        text-align: left;
        transform: rotate(-3deg) scale(1);
        margin: 0 0 20px 0;
    }
    
    .projects .project:nth-child(3) .img-box,
    .projects .project:nth-child(even) .img-box {
        transform: rotate(3deg) scale(1);
        margin: 0;
    }
    
    .projects .project .project-description {
        opacity: 1;
        transform: translate(0) !important;
        margin: 0 0 20px 10px;
    }

    .projects .project .project-description h2 {
        font-size: 35px;
        line-height: 42px;
    }

    .client-reviews .owl-carousel .owl-nav {
        display: none;
    }
    
    footer .img-box,
    footer .footer-menu {
        margin: 20px 0;
    }
}

@media screen and (max-width: 650px) {
    .banner .banner-title  {
        font-size: 40px;
        line-height: 60px;
    }

    .services.container,
    .projects.container,
    .client-reviews.container,
    .cta.container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .nav-tabs .nav-link {
        font-size: 25px;
        line-height: 0;
        padding: 0 !important;
        margin: 25px 0;
    }

    .projects .project .project-description h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .client-reviews .item {
        flex-wrap: wrap;
        padding: 20px;
    }

    .client-reviews .item .img-box {
        margin-bottom: 20px;
    }

    .client-reviews .item .review-description {
        margin: 0;
    }

    .cta .background img {
        display: none;
    }

    .cta .img-box {
        margin: 0 0 20px 0;
    }
}


@media screen and (max-width: 400px) {
    .nav-tabs {
        margin-bottom: 30px;
    }
    
    .projects .project .img-box {
        height: 300px;
        width: auto;
    }
    .projects .project .img-box img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}